<table class="table table-striped table-hover table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Тип устройства</th>
            <th>Модель</th>
            <th>Серийный номер</th>
            <th>Состояние</th>
            <th>В эксплуатации</th>
            <th>Дата покупки</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td>{{ forloop.counter|add:page_obj.start_index|add:-1 }}</td>

            <td>{{ device.device_type.name }}</td>
            <td>{{ device.model }}</td>
            <td>{{ device.serial_number|default:"—" }}</td>

            <td>
                <span class="badge 
            {% if device.condition == 'new' %}bg-success
            {% elif device.condition == 'good' %}bg-primary
            {% elif device.condition == 'satisfactory' %}bg-warning text-dark
            {% elif device.condition == 'needs_repair' %}bg-danger
            {% elif device.condition == 'written_off' %}bg-secondary
            {% else %}bg-light text-dark{% endif %}
        ">
                    {{ device.get_condition_display }}
                </span>
            </td>

            <td>
                {% if device.is_active %}
                <span class="text-success">Да</span>
                {% else %}
                <span class="text-muted">Нет</span>
                {% endif %}
            </td>
            <td>{{ device.purchase_date|date:"d.m.Y"|default:"—" }}</td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="7" class="text-center text-muted">Нет данных</td>
        </tr>
        {% endfor %}
    </tbody>
</table>